@charset "utf-8";
/*ali.atilgan1024@gmail.com*/
main{
	padding-top: 30px;
	padding-bottom: 100px;
	margin: auto;
}
.mainTable{
	 border: 5px solid #1d3557 ;
	 border-radius: 10px;
	
margin: auto;
	max-height: inherit;
	max-width: inherit;
	height: auto;
	width: auto;
}
.menu{
	color:#0B0000;
	
	 border: 4px solid #f1faee ;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 1px 1px 1px 2px  black ;
}
ul{
	list-style-type: none;
}

li{
	list-style-type: none;
float: left;
	display: block;
	padding-top: 20px;
	margin: auto;
	padding-right: 20px;	
}
header {
  margin: auto;	
  text-align: center;
  background-image: linear-gradient(to right, #f1faee 0%, #1d3557  51%, #f1faee  100%);
	border-radius: 10px;
  font-size: 40px;
  color:white;
  padding: 10px;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  -webkit-text-stroke: 2px black;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-image: linear-gradient(to right, #f1faee 0%, #1d3557  51%, #f1faee  100%);
   color: white;
	border-color: black;
   text-align: center;
}

body {
  background-image: url("main.jfif");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

		/* ADD BUTTON HOVER */ 
         .btn-grad {
			background-image: linear-gradient(to right, #f1faee 0%, #1d3557  51%, #f1faee  100%);
            margin: 10px;
			 cursor: pointer;
            padding: 15px 70px;
            text-align: center;
			font-size: 20px;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;            
            border: none;
			outline: none;
            border-radius: 10px;
            display: block;
			  -webkit-text-stroke: 2px black;
          }

          .btn-grad:hover {
            background-position: right center;
            text: #ffffff;
            text-decoration: none;
          }


/* CALlAENDER */ 
.sd-container {
  position: relative;
  float: middle;
	padding-left: 4px; 
}

.sd {
  border: 1px solid #1cbaa5;
  padding: 5px 25px;
  height: 30px;
  width: 130px;
}

.open-button {
  position: absolute;
  top: 10px;
  right: 3px;
  width: 25px;
  height: 25px;
  background: #fff;
  pointer-events: none;
}
.open-button button {
  border: none;
  background: transparent;
}
.x{
     background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
width: 25px; height: 25px;
	background: url(x.png);
background-size: cover;
background-position: center;
	float: right;
	padding-right: 32px;
}

.delete {
	background-image: url(x.png);
            background-size: cover;
	background-color: transparent;
       width: 30px;
	height: 30px;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
	  border: none;
    cursor:pointer;
    overflow: hidden;  
	outline: none;
	margin-top: 9px;
	margin-left: -17px;
}

li:hover .delete {
    opacity: 1;
}
  /* TO DO LIST  */ 

	.todoList {
			width: 65%;
			margin: auto;
		padding: auto;
			
		}
		.todoItem {
			float:left;
			width: 350px;
			margin: 5px;
			margin-right: -20px;
			box-shadow: 1px 3px 5px 5px  #1d3557 ;
			border-radius: 15px;
			padding: 3px;
			overflow: auto;
			overflow-y: hidden;
		}
		.todoItem span {
			font-size: 111%;
			font-weight: bolder;
			padding: 2px;
		}